.icon-btn {
	border: none;
	display: block;
	margin: 5px 0 10px 10px;
	padding: 5px;
	cursor: pointer;
	border-radius: 5px;
	min-width: 80px;
	text-align: center;
	text-decoration: none;
}

.icon-btn:focus {
	border: none;
	outline: none;
}

.icon-btn-text {
	display: inline;
	margin-right: 5px;
}